@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins";
  height: 90vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(163, 163, 239);
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 3px rgb(87, 87, 235);
}
.logo {
  width: 100px;
  height: 100px;
}
h1 {
  font-weight: 500;
  font-size: 20px;
  color: rgb(102, 102, 224);
}
label {
  font-size: 12px;
  display: block;
  color: #777;
}
.inputbox {
  border: 1px solid rgb(85, 85, 246);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
}
.btn {
  padding: 10px;
  display: inline;
  margin-left: 10px;
  width: 90px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.calc {
  background-color: rgb(102, 102, 224);
}
.calc:hover {
  background-color: rgb(132, 5, 252);
}
.clear {
  background: rgb(235, 97, 97);
}
.clear:hover {
  background-color: red;
}
.p {
  margin-top: 20px;
  padding: 0;
  border: 2px solid rgb(102, 102, 224);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
}
/* .p span:nth-child(2) {
  font-weight: 500;
} */
.footer {
  margin-top: 10px;
  font-size: 10px;
}
.footer span {
  color: #666;
}
.err {
  color: red;
  font-size: 16px;
}
